# Boston Property Data:


url = 'https://data.boston.gov/api/3/action/datastore_search?resource_id=4b99718b-d064-471b-9b24-517ae5effecc'

### Set up environment

In [1]:
import pandas as pd 
import numpy as np 
from numpy import NaN
import urllib.request
import requests
import io
import csv

In [2]:
# set up notebook to display multiple output in one cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
 
# Set option to format printing of Float columns
pd.options.display.float_format = '{:.2f}'.format

def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [3]:
# Mount Google Drive

from google.colab import drive
#drive.mount('/content/gdrive')
drive.mount('/gdrive') 
%cd /gdrive/My\ Drive/MSDS\ 498\ Capstone/4.\ Analytics/4a.\ Data

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/My Drive/MSDS 498 Capstone/4. Analytics/4a. Data

# Pull 2022 Boston Property Assessments

In [4]:

# url = 'https://data.boston.gov/api/3/action/datastore_search?resource_id=4b99718b-d064-471b-9b24-517ae5effecc'
# import data sets for 2022 and 2021 and 2020 and 2019
url2022= 'https://data.boston.gov/dataset/e02c44d2-3c64-459c-8fe2-e1ce5f38a035/resource/4b99718b-d064-471b-9b24-517ae5effecc/download/fy2022pa-4.csv'  


pa2022alldf = pd.read_csv(url2022, low_memory=False)
pa2022alldf["filename"] = '2022'
pa2022alldf["PID"] = pa2022alldf["PID"].astype(str)
 
print(pa2022alldf.shape)

(178598, 65)

In [5]:
# Limit to Owner Occupied, Single-Family  
pa2022df = pa2022alldf[( pa2022alldf["LU"]=='R1')  & (pa2022alldf["OWN_OCC"]=="Y")]

print(pa2022df.shape)
print(pa2022df.groupby(by="OWN_OCC")["OWN_OCC"].count() )
print(pa2022df.groupby(by="LU")["LU"].count() )
pa2022df.info()

(25640, 65)
OWN_OCC
Y    25640
Name: OWN_OCC, dtype: int64
LU
R1    25640
Name: LU, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 25640 entries, 27 to 178588
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              25640 non-null  object
 1   CM_ID            25640 non-null  object
 2   GIS_ID           25640 non-null  float64
 3   ST_NUM           25640 non-null  object
 4   ST_NAME          25640 non-null  object
 5   UNIT_NUM         1 non-null      object
 6   CITY             25640 non-null  object
 7   ZIPCODE          25640 non-null  int64
 8   BLDG_SEQ         25640 non-null  float64
 9   NUM_BLDGS        25640 non-null  int64
 10  LUC              25640 non-null  int64
 11  LU               25640 non-null  object
 12  LU_DESC          25640 non-null  object
 13  BLDG_TYPE        25640 non-null  object
 14  OWN_OCC          25640 non-null  object
 15  OWNER            25640 non-null  object
 16  MAIL_ADDRESSEE   2998 non-null   object
 17  MAIL_ADDRESS     25637 non-null  object
 18  MAIL_CITY        25640 non-null  object
 19  MAIL_STATE       25640 non-null  object
 20  MAIL_ZIPCODE     25640 non-null  object
 21  RES_FLOOR        25640 non-null  float64
 22  CD_FLOOR         0 non-null      float64
 23  RES_UNITS        25640 non-null  int64
 24  COM_UNITS        25640 non-null  int64
 25  RC_UNITS         25640 non-null  int64
 26  LAND_SF          25624 non-null  float64
 27  GROSS_AREA       25640 non-null  float64
 28  LIVING_AREA      25640 non-null  float64
 29  LAND_VALUE       25640 non-null  object
 30  BLDG_VALUE       25640 non-null  object
 31  TOTAL_VALUE      25640 non-null  object
 32  GROSS_TAX        25640 non-null  object
 33  YR_BUILT         25636 non-null  float64
 34  YR_REMODEL       10467 non-null  float64
 35  STRUCTURE_CLASS  25258 non-null  object
 36  ROOF_STRUCTURE   25640 non-null  object
 37  ROOF_COVER       25640 non-null  object
 38  INT_WALL         25640 non-null  object
 39  EXT_FINISHED     25640 non-null  object
 40  INT_COND         25640 non-null  object
 41  EXT_COND         25640 non-null  object
 42  OVERALL_COND     25640 non-null  object
 43  BED_RMS          25640 non-null  int64
 44  FULL_BTH         25640 non-null  int64
 45  HLF_BTH          25640 non-null  int64
 46  KITCHEN          25640 non-null  int64
 47  TT_RMS           25640 non-null  int64
 48  BDRM_COND        1 non-null      object
 49  BTHRM_STYLE1     25640 non-null  object
 50  BTHRM_STYLE2     19580 non-null  object
 51  BTHRM_STYLE3     5899 non-null   object
 52  KITCHEN_TYPE     25639 non-null  object
 53  KITCHEN_STYLE1   25640 non-null  object
 54  KITCHEN_STYLE2   746 non-null    object
 55  KITCHEN_STYLE3   14 non-null     object
 56  HEAT_TYPE        25640 non-null  object
 57  HEAT_FUEL        1 non-null      object
 58  AC_TYPE          25640 non-null  object
 59  FIRE_PLACE       25640 non-null  int64
 60  ORIENTATION      0 non-null      object
 61  NUM_PARKING      25640 non-null  int64
 62  PROP_VIEW        25640 non-null  object
 63  CORNER_UNIT      0 non-null      object
 64  filename         25640 non-null  object
dtypes: float64(9), int64(13), object(43)
memory usage: 12.9+ MB

### Limit To Features of Interest

In [6]:
# Create List of features to keep
keeplist = [ 'PID'
, 'YR_REMODEL'
, 'RES_FLOOR'
, 'GROSS_AREA'
, 'LIVING_AREA'
, 'INT_COND'
, 'EXT_COND'
, 'OVERALL_COND'
, 'BED_RMS'
, 'FULL_BTH'
, 'HLF_BTH'
, 'KITCHEN'
, 'TT_RMS'
, 'BTHRM_STYLE1'
, 'BTHRM_STYLE2'
, 'KITCHEN_TYPE'
, 'KITCHEN_STYLE1' 
]
# Select the Required  Columns
pa2022df = pa2022df[keeplist]

pa2022df.info()
pa2022df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25640 entries, 27 to 178588
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PID             25640 non-null  object
 1   YR_REMODEL      10467 non-null  float64
 2   RES_FLOOR       25640 non-null  float64
 3   GROSS_AREA      25640 non-null  float64
 4   LIVING_AREA     25640 non-null  float64
 5   INT_COND        25640 non-null  object
 6   EXT_COND        25640 non-null  object
 7   OVERALL_COND    25640 non-null  object
 8   BED_RMS         25640 non-null  int64
 9   FULL_BTH        25640 non-null  int64
 10  HLF_BTH         25640 non-null  int64
 11  KITCHEN         25640 non-null  int64
 12  TT_RMS          25640 non-null  int64
 13  BTHRM_STYLE1    25640 non-null  object
 14  BTHRM_STYLE2    19580 non-null  object
 15  KITCHEN_TYPE    25639 non-null  object
 16  KITCHEN_STYLE1  25640 non-null  object
dtypes: float64(4), int64(5), object(8)
memory usage: 3.5+ MB

,YR_REMODEL,RES_FLOOR,GROSS_AREA,LIVING_AREA,BED_RMS,FULL_BTH,HLF_BTH,KITCHEN,TT_RMS
count,10467.00,25640.00,25640.00,25640.00,25640.00,25640.00,25640.00,25640.00,25640.00
mean,2004.96,1.87,2782.37,1755.67,3.39,1.48,0.59,1.03,7.26
std,13.63,0.57,925.84,696.52,0.96,0.69,0.55,0.17,1.74
min,1900.00,1.00,570.00,372.00,0.00,1.00,0.00,1.00,2.00
25%,2000.00,1.50,2192.00,1320.00,3.00,1.00,0.00,1.00,6.00
50%,2008.00,2.00,2578.00,1602.00,3.00,1.00,1.00,1.00,7.00
75%,2015.00,2.00,3151.00,2015.05,4.00,2.00,1.00,1.00,8.00
max,2021.00,19.00,22802.00,20326.00,10.00,12.00,4.00,3.00,27.00

In [7]:
# Check the values of All Columns

# Get a list of all columns
collist = list(pa2022df.columns)
print(collist)
print(len(collist))

# Remove PID and YR_REMODEL from the list
collist = collist[2:]
print(collist)
print(len(collist))

# Print Frequencies of all values
for col in collist:
  print(pa2022df[col].value_counts().sort_index() )

['PID', 'YR_REMODEL', 'RES_FLOOR', 'GROSS_AREA', 'LIVING_AREA', 'INT_COND', 'EXT_COND', 'OVERALL_COND', 'BED_RMS', 'FULL_BTH', 'HLF_BTH', 'KITCHEN', 'TT_RMS', 'BTHRM_STYLE1', 'BTHRM_STYLE2', 'KITCHEN_TYPE', 'KITCHEN_STYLE1']
17
['RES_FLOOR', 'GROSS_AREA', 'LIVING_AREA', 'INT_COND', 'EXT_COND', 'OVERALL_COND', 'BED_RMS', 'FULL_BTH', 'HLF_BTH', 'KITCHEN', 'TT_RMS', 'BTHRM_STYLE1', 'BTHRM_STYLE2', 'KITCHEN_TYPE', 'KITCHEN_STYLE1']
15
1.00      4677
1.50      2894
2.00     14922
2.50      1537
3.00      1261
3.50        84
4.00       227
4.50        16
5.00        21
19.00        1
Name: RES_FLOOR, dtype: int64
570.00      1
632.00      1
676.00      1
691.20      1
763.20      1
           ..
13128.60    1
13573.10    1
13720.10    1
16901.30    1
22802.00    1
Name: GROSS_AREA, Length: 11825, dtype: int64
372.00      1
403.20      1
470.00      1
480.60      1
489.60      1
           ..
10080.45    1
10198.45    1
10995.00    1
13033.00    1
20326.00    1
Name: LIVING_AREA, Length: 7542, dtype: int64
A - Average      16300
E - Excellent      407
F - Fair           312
G - Good          8603
P - Poor            18
Name: INT_COND, dtype: int64
A - Average      19040
E - Excellent       35
F - Fair           579
G - Good          5967
P - Poor            19
Name: EXT_COND, dtype: int64
A - Average      19214
E - Excellent      198
F - Fair           206
G - Good          6010
P - Poor            12
Name: OVERALL_COND, dtype: int64
0         1
1       129
2      3079
3     12983
4      6596
5      1990
6       683
7       131
8        30
9        16
10        2
Name: BED_RMS, dtype: int64
1     15806
2      7890
3      1609
4       262
5        53
6        16
7         2
8         1
12        1
Name: FULL_BTH, dtype: int64
0    11182
1    13730
2      688
3       34
4        6
Name: HLF_BTH, dtype: int64
1    24932
2      698
3       10
Name: KITCHEN, dtype: int64
2        1
3       23
4      422
5     2275
6     6767
7     6751
8     4433
9     2394
10    1360
11     582
12     362
13     127
14      67
15      31
16      19
17      13
18       6
19       2
20       1
21       1
22       1
26       1
27       1
Name: TT_RMS, dtype: int64
L - Luxury             555
M - Modern            9027
N - No Remodeling     1574
S - Semi-Modern      14484
Name: BTHRM_STYLE1, dtype: int64
L - Luxury             100
M - Modern            8103
N - No Remodeling      995
S - Semi-Modern      10382
Name: BTHRM_STYLE2, dtype: int64
0F - 0 Full Eat In Kitchens     1331
1F - 1 Full Eat In Kitchens    24062
2F - 2 Full Eat In Kitchens      240
3F - 3 Full Eat In Kitchens        3
F - Full Eat In                    1
N - None                           1
O - One Person                     1
Name: KITCHEN_TYPE, dtype: int64
L - Luxury             686
M - Modern           10443
N - No Remodeling     1519
S - Semi-Modern      12992
Name: KITCHEN_STYLE1, dtype: int64

### Convert Categorical Values to Ranks

In [8]:
pa2022moddf = pa2022df.copy() 

pa2022moddf['INT_COND_RANK'] = NaN
pa2022moddf['INT_COND_RANK'] = np.where(pa2022moddf['INT_COND'] == 'P - Poor'      , 1 , pa2022moddf['INT_COND_RANK'] )      
pa2022moddf['INT_COND_RANK'] = np.where(pa2022moddf['INT_COND'] == 'F - Fair'      , 2 , pa2022moddf['INT_COND_RANK'] )   
pa2022moddf['INT_COND_RANK'] = np.where(pa2022moddf['INT_COND'] == 'A - Average'   , 3 , pa2022moddf['INT_COND_RANK'] )
pa2022moddf['INT_COND_RANK'] = np.where(pa2022moddf['INT_COND'] == 'G - Good'      , 4 , pa2022moddf['INT_COND_RANK'] )
pa2022moddf['INT_COND_RANK'] = np.where(pa2022moddf['INT_COND'] == 'E - Excellent' , 5 , pa2022moddf['INT_COND_RANK'] ) 

pa2022moddf['EXT_COND_RANK'] = NaN
pa2022moddf['EXT_COND_RANK'] = np.where(pa2022moddf['EXT_COND'] == 'P - Poor'      , 1 , pa2022moddf['EXT_COND_RANK'] )      
pa2022moddf['EXT_COND_RANK'] = np.where(pa2022moddf['EXT_COND'] == 'F - Fair'      , 2 , pa2022moddf['EXT_COND_RANK'] )   
pa2022moddf['EXT_COND_RANK'] = np.where(pa2022moddf['EXT_COND'] == 'A - Average'   , 3 , pa2022moddf['EXT_COND_RANK'] )
pa2022moddf['EXT_COND_RANK'] = np.where(pa2022moddf['EXT_COND'] == 'G - Good'      , 4 , pa2022moddf['EXT_COND_RANK'] )
pa2022moddf['EXT_COND_RANK'] = np.where(pa2022moddf['EXT_COND'] == 'E - Excellent' , 5 , pa2022moddf['EXT_COND_RANK'] ) 

pa2022moddf['OVERALL_COND_RANK'] = NaN
pa2022moddf['OVERALL_COND_RANK'] = np.where(pa2022moddf['OVERALL_COND'] == 'P - Poor'      , 1 , pa2022moddf['OVERALL_COND_RANK'] )      
pa2022moddf['OVERALL_COND_RANK'] = np.where(pa2022moddf['OVERALL_COND'] == 'F - Fair'      , 2 , pa2022moddf['OVERALL_COND_RANK'] )   
pa2022moddf['OVERALL_COND_RANK'] = np.where(pa2022moddf['OVERALL_COND'] == 'A - Average'   , 3 , pa2022moddf['OVERALL_COND_RANK'] )
pa2022moddf['OVERALL_COND_RANK'] = np.where(pa2022moddf['OVERALL_COND'] == 'G - Good'      , 4 , pa2022moddf['OVERALL_COND_RANK'] )
pa2022moddf['OVERALL_COND_RANK'] = np.where(pa2022moddf['OVERALL_COND'] == 'E - Excellent' , 5 , pa2022moddf['OVERALL_COND_RANK'] ) 

pa2022moddf['BTHRM_STYLE1_RANK'] = NaN
pa2022moddf['BTHRM_STYLE1_RANK'] = np.where(pa2022moddf['BTHRM_STYLE1'] == 'N - No Remodeling' , 1 , pa2022moddf['BTHRM_STYLE1_RANK'] )      
pa2022moddf['BTHRM_STYLE1_RANK'] = np.where(pa2022moddf['BTHRM_STYLE1'] == 'S - Semi-Modern'   , 2 , pa2022moddf['BTHRM_STYLE1_RANK'] )   
pa2022moddf['BTHRM_STYLE1_RANK'] = np.where(pa2022moddf['BTHRM_STYLE1'] == 'M - Modern'        , 3 , pa2022moddf['BTHRM_STYLE1_RANK'] )
pa2022moddf['BTHRM_STYLE1_RANK'] = np.where(pa2022moddf['BTHRM_STYLE1'] == 'L - Luxury'        , 4 , pa2022moddf['BTHRM_STYLE1_RANK'] ) 

pa2022moddf['BTHRM_STYLE2_RANK'] = NaN
pa2022moddf['BTHRM_STYLE2_RANK'] = np.where(pa2022moddf['BTHRM_STYLE2'] == 'N - No Remodeling' , 1 , pa2022moddf['BTHRM_STYLE2_RANK'] )      
pa2022moddf['BTHRM_STYLE2_RANK'] = np.where(pa2022moddf['BTHRM_STYLE2'] == 'S - Semi-Modern'   , 2 , pa2022moddf['BTHRM_STYLE2_RANK'] )   
pa2022moddf['BTHRM_STYLE2_RANK'] = np.where(pa2022moddf['BTHRM_STYLE2'] == 'M - Modern'        , 3 , pa2022moddf['BTHRM_STYLE2_RANK'] )
pa2022moddf['BTHRM_STYLE2_RANK'] = np.where(pa2022moddf['BTHRM_STYLE2'] == 'L - Luxury'        , 4 , pa2022moddf['BTHRM_STYLE2_RANK'] ) 

pa2022moddf['KITCHEN_STYLE1_RANK'] = NaN
pa2022moddf['KITCHEN_STYLE1_RANK'] = np.where(pa2022moddf['KITCHEN_STYLE1'] == 'N - No Remodeling' , 1 , pa2022moddf['KITCHEN_STYLE1_RANK'] )      
pa2022moddf['KITCHEN_STYLE1_RANK'] = np.where(pa2022moddf['KITCHEN_STYLE1'] == 'S - Semi-Modern'   , 2 , pa2022moddf['KITCHEN_STYLE1_RANK'] )   
pa2022moddf['KITCHEN_STYLE1_RANK'] = np.where(pa2022moddf['KITCHEN_STYLE1'] == 'M - Modern'        , 3 , pa2022moddf['KITCHEN_STYLE1_RANK'] )
pa2022moddf['KITCHEN_STYLE1_RANK'] = np.where(pa2022moddf['KITCHEN_STYLE1'] == 'L - Luxury'        , 4 , pa2022moddf['KITCHEN_STYLE1_RANK'] ) 

pa2022moddf['KITCHEN_TYPE_RANK'] = NaN
pa2022moddf['KITCHEN_TYPE_RANK'] = np.where(pa2022moddf['KITCHEN_TYPE'] == 'N - None'                    , 0 , pa2022moddf['KITCHEN_TYPE_RANK']  )  
pa2022moddf['KITCHEN_TYPE_RANK'] = np.where(pa2022moddf['KITCHEN_TYPE'] == 'O - One Person'              , 0 , pa2022moddf['KITCHEN_TYPE_RANK']  )  
pa2022moddf['KITCHEN_TYPE_RANK'] = np.where(pa2022moddf['KITCHEN_TYPE'] == '0F - 0 Full Eat In Kitchens' , 0 , pa2022moddf['KITCHEN_TYPE_RANK']  )  
pa2022moddf['KITCHEN_TYPE_RANK'] = np.where(pa2022moddf['KITCHEN_TYPE'] == 'F - Full Eat In'             , 1 , pa2022moddf['KITCHEN_TYPE_RANK']  )  
pa2022moddf['KITCHEN_TYPE_RANK'] = np.where(pa2022moddf['KITCHEN_TYPE'] == '1F - 1 Full Eat In Kitchens' , 1 , pa2022moddf['KITCHEN_TYPE_RANK']  )  
pa2022moddf['KITCHEN_TYPE_RANK'] = np.where(pa2022moddf['KITCHEN_TYPE'] == '2F - 2 Full Eat In Kitchens' , 2 , pa2022moddf['KITCHEN_TYPE_RANK']  )  
pa2022moddf['KITCHEN_TYPE_RANK'] = np.where(pa2022moddf['KITCHEN_TYPE'] == '3F - 3 Full Eat In Kitchens' , 3 , pa2022moddf['KITCHEN_TYPE_RANK']  )  

def rankchk(orig, rnk):
  print('\n============================================')
  print(orig)
  print('============================================\n')
  print(pa2022moddf[[rnk, orig]].value_counts().sort_index() )

rankchk('INT_COND'       ,'INT_COND_RANK')
rankchk('EXT_COND'       , 'EXT_COND_RANK')
rankchk('OVERALL_COND'   , 'OVERALL_COND_RANK')
rankchk('BTHRM_STYLE1'   , 'BTHRM_STYLE1_RANK')
rankchk('BTHRM_STYLE2'   , 'BTHRM_STYLE2_RANK')
rankchk('KITCHEN_STYLE1' , 'KITCHEN_STYLE1_RANK')
rankchk('KITCHEN_TYPE'   , 'KITCHEN_TYPE_RANK')

============================================
INT_COND
============================================

INT_COND_RANK  INT_COND
1.00           P - Poor            18
2.00           F - Fair           312
3.00           A - Average      16300
4.00           G - Good          8603
5.00           E - Excellent      407
dtype: int64

============================================
EXT_COND
============================================

EXT_COND_RANK  EXT_COND
1.00           P - Poor            19
2.00           F - Fair           579
3.00           A - Average      19040
4.00           G - Good          5967
5.00           E - Excellent       35
dtype: int64

============================================
OVERALL_COND
============================================

OVERALL_COND_RANK  OVERALL_COND
1.00               P - Poor            12
2.00               F - Fair           206
3.00               A - Average      19214
4.00               G - Good          6010
5.00               E - Excellent      198
dtype: int64

============================================
BTHRM_STYLE1
============================================

BTHRM_STYLE1_RANK  BTHRM_STYLE1
1.00               N - No Remodeling     1574
2.00               S - Semi-Modern      14484
3.00               M - Modern            9027
4.00               L - Luxury             555
dtype: int64

============================================
BTHRM_STYLE2
============================================

BTHRM_STYLE2_RANK  BTHRM_STYLE2
1.00               N - No Remodeling      995
2.00               S - Semi-Modern      10382
3.00               M - Modern            8103
4.00               L - Luxury             100
dtype: int64

============================================
KITCHEN_STYLE1
============================================

KITCHEN_STYLE1_RANK  KITCHEN_STYLE1
1.00                 N - No Remodeling     1519
2.00                 S - Semi-Modern      12992
3.00                 M - Modern           10443
4.00                 L - Luxury             686
dtype: int64

============================================
KITCHEN_TYPE
============================================

KITCHEN_TYPE_RANK  KITCHEN_TYPE
0.00               0F - 0 Full Eat In Kitchens     1331
                   N - None                           1
                   O - One Person                     1
1.00               1F - 1 Full Eat In Kitchens    24062
                   F - Full Eat In                    1
2.00               2F - 2 Full Eat In Kitchens      240
3.00               3F - 3 Full Eat In Kitchens        3
dtype: int64

### Drop the Original Columns (Keep the Ranks) And Rename All Columns

In [9]:
keepcols = [
  'PID'
, 'YR_REMODEL'
, 'RES_FLOOR'
, 'GROSS_AREA'
, 'LIVING_AREA'
, 'BED_RMS'
, 'FULL_BTH'
, 'HLF_BTH'
, 'KITCHEN'
, 'TT_RMS'
, 'INT_COND_RANK'
, 'EXT_COND_RANK'
, 'OVERALL_COND_RANK'
, 'BTHRM_STYLE1_RANK'
, 'BTHRM_STYLE2_RANK'
, 'KITCHEN_STYLE1_RANK'
, 'KITCHEN_TYPE_RANK'
]

# Add '22' Suffix to All Column Names
keepcols22 = [sub + '_22' for sub in keepcols]

print(keepcols)
print(keepcols22)

# Create Final 2022 DF with Select Columns
pa2022finldf = pa2022moddf[keepcols]
pa2022finldf.columns = keepcols22
pa2022finldf.info()

['PID', 'YR_REMODEL', 'RES_FLOOR', 'GROSS_AREA', 'LIVING_AREA', 'BED_RMS', 'FULL_BTH', 'HLF_BTH', 'KITCHEN', 'TT_RMS', 'INT_COND_RANK', 'EXT_COND_RANK', 'OVERALL_COND_RANK', 'BTHRM_STYLE1_RANK', 'BTHRM_STYLE2_RANK', 'KITCHEN_STYLE1_RANK', 'KITCHEN_TYPE_RANK']
['PID_22', 'YR_REMODEL_22', 'RES_FLOOR_22', 'GROSS_AREA_22', 'LIVING_AREA_22', 'BED_RMS_22', 'FULL_BTH_22', 'HLF_BTH_22', 'KITCHEN_22', 'TT_RMS_22', 'INT_COND_RANK_22', 'EXT_COND_RANK_22', 'OVERALL_COND_RANK_22', 'BTHRM_STYLE1_RANK_22', 'BTHRM_STYLE2_RANK_22', 'KITCHEN_STYLE1_RANK_22', 'KITCHEN_TYPE_RANK_22']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 25640 entries, 27 to 178588
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PID_22                  25640 non-null  object
 1   YR_REMODEL_22           10467 non-null  float64
 2   RES_FLOOR_22            25640 non-null  float64
 3   GROSS_AREA_22           25640 non-null  float64
 4   LIVING_AREA_22          25640 non-null  float64
 5   BED_RMS_22              25640 non-null  int64
 6   FULL_BTH_22             25640 non-null  int64
 7   HLF_BTH_22              25640 non-null  int64
 8   KITCHEN_22              25640 non-null  int64
 9   TT_RMS_22               25640 non-null  int64
 10  INT_COND_RANK_22        25640 non-null  float64
 11  EXT_COND_RANK_22        25640 non-null  float64
 12  OVERALL_COND_RANK_22    25640 non-null  float64
 13  BTHRM_STYLE1_RANK_22    25640 non-null  float64
 14  BTHRM_STYLE2_RANK_22    19580 non-null  float64
 15  KITCHEN_STYLE1_RANK_22  25640 non-null  float64
 16  KITCHEN_TYPE_RANK_22    25639 non-null  float64
dtypes: float64(11), int64(5), object(1)
memory usage: 3.5+ MB

# Pull 2017 Boston Property Assessments

In [10]:
url2017= 'https://data.boston.gov/dataset/e02c44d2-3c64-459c-8fe2-e1ce5f38a035/resource/062fc6fa-b5ff-4270-86cf-202225e40858/download/property-assessment-fy2017.csv'

pa2017df = pd.read_csv(url2017, low_memory=False)
pa2017df["filename"] = '2017'
pa2017df["PID"] = pa2017df["PID"].astype(str)
 
print(pa2017df.shape)
print(pa2017df.info())

(170910, 76)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170910 entries, 0 to 170909
Data columns (total 76 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PID              170910 non-null  object
 1   CM_ID            76407 non-null   object
 2   GIS_ID           170910 non-null  object
 3   ST_NUM           170910 non-null  object
 4   ST_NAME          170910 non-null  object
 5   ST_NAME_SUF      170521 non-null  object
 6   UNIT_NUM         62976 non-null   object
 7   ZIPCODE          170910 non-null  object
 8   PTYPE            170910 non-null  int64
 9   LU               170910 non-null  object
 10  OWN_OCC          170910 non-null  object
 11  OWNER            170910 non-null  object
 12  MAIL_ADDRESSEE   170910 non-null  object
 13  MAIL_ADDRESS     170910 non-null  object
 14  MAIL CS          170910 non-null  object
 15  MAIL_ZIPCODE     170910 non-null  object
 16  AV_LAND          170910 non-null  int64
 17  AV_BLDG          170910 non-null  int64
 18  AV_TOTAL         170910 non-null  int64
 19  GROSS_TAX        170910 non-null  int64
 20  LAND_SF          166749 non-null  float64
 21  YR_BUILT         166966 non-null  float64
 22  YR_REMOD         131370 non-null  float64
 23  GROSS_AREA       166652 non-null  float64
 24  LIVING_AREA      166652 non-null  float64
 25  NUM_FLOORS       149101 non-null  float64
 26  STRUCTURE_CLASS  84536 non-null   object
 27  R_BLDG_STYL      62863 non-null   object
 28  R_ROOF_TYP       62863 non-null   object
 29  R_EXT_FIN        62863 non-null   object
 30  R_TOTAL_RMS      62863 non-null   float64
 31  R_BDRMS          62863 non-null   float64
 32  R_FULL_BTH       62863 non-null   float64
 33  R_HALF_BTH       62863 non-null   float64
 34  R_BTH_STYLE      62863 non-null   object
 35  R_BTH_STYLE2     54441 non-null   object
 36  R_BTH_STYLE3     26453 non-null   object
 37  R_KITCH          62863 non-null   float64
 38  R_KITCH_STYLE    62863 non-null   object
 39  R_KITCH_STYLE2   32895 non-null   object
 40  R_KITCH_STYLE3   14568 non-null   object
 41  R_HEAT_TYP       62863 non-null   object
 42  R_AC             62863 non-null   object
 43  R_FPLACE         62863 non-null   float64
 44  R_EXT_CND        62863 non-null   object
 45  R_OVRALL_CND     62863 non-null   object
 46  R_INT_CND        62863 non-null   object
 47  R_INT_FIN        62863 non-null   object
 48  R_VIEW           62863 non-null   object
 49  S_NUM_BLDG       3584 non-null    float64
 50  S_BLDG_STYL      9385 non-null    object
 51  S_UNIT_RES       9385 non-null    float64
 52  S_UNIT_COM       9385 non-null    float64
 53  S_UNIT_RC        9385 non-null    float64
 54  S_EXT_FIN        9385 non-null    object
 55  S_EXT_CND        9385 non-null    object
 56  U_BASE_FLOOR     61363 non-null   float64
 57  U_NUM_PARK       61363 non-null   float64
 58  U_CORNER         61360 non-null   object
 59  U_ORIENT         61363 non-null   object
 60  U_TOT_RMS        61363 non-null   object
 61  U_BDRMS          61363 non-null   float64
 62  U_FULL_BTH       61363 non-null   float64
 63  U_HALF_BTH       61363 non-null   object
 64  U_BTH_STYLE      61363 non-null   object
 65  U_BTH_STYLE2     23310 non-null   object
 66  U_BTH_STYLE3     6081 non-null    object
 67  U_KITCH_TYPE     61363 non-null   object
 68  U_KITCH_STYLE    61363 non-null   object
 69  U_HEAT_TYP       61363 non-null   object
 70  U_AC             61363 non-null   object
 71  U_FPLACE         61363 non-null   float64
 72  U_INT_FIN        61363 non-null   object
 73  U_INT_CND        61363 non-null   object
 74  U_VIEW           61363 non-null   object
 75  filename         170910 non-null  object
dtypes: float64(21), int64(5), object(50)
memory usage: 99.1+ MB
None

## Limit to Features of Interest and Rename to Match 2022

In [11]:
# (NOTE: KITCHEN_TYPE does NOT exist)

keepcols = [
 'PID'
,'YR_REMOD'
,'GROSS_AREA'
,'LIVING_AREA'
,'NUM_FLOORS'
,'R_TOTAL_RMS'
,'R_BDRMS'
,'R_FULL_BTH'
,'R_HALF_BTH'
,'R_BTH_STYLE'
,'R_BTH_STYLE2'
,'R_KITCH'
,'R_KITCH_STYLE'
,'R_EXT_CND'
,'R_OVRALL_CND'
,'R_INT_CND'
]

# rename columns to match 2022 (NOTE: KITCHEN_TYPE does NOT exist)
renamecols = [ 
 'PID'
,'YR_REMODEL'
,'GROSS_AREA'
,'LIVING_AREA'
,'RES_FLOOR'
,'TT_RMS'
,'BED_RMS'
,'FULL_BTH'
,'HLF_BTH'
,'BTHRM_STYLE1'
,'BTHRM_STYLE2'
,'KITCHEN'
,'KITCHEN_STYLE1'
,'EXT_COND'
,'OVERALL_COND'
,'INT_COND'   
]


# Select the Required  Columns
pa2017df = pa2017df[keepcols]
print(pa2017df.info() )

# Rename columns
pa2017df.columns = renamecols
print(pa2017df.info() )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170910 entries, 0 to 170909
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   PID            170910 non-null  object
 1   YR_REMOD       131370 non-null  float64
 2   GROSS_AREA     166652 non-null  float64
 3   LIVING_AREA    166652 non-null  float64
 4   NUM_FLOORS     149101 non-null  float64
 5   R_TOTAL_RMS    62863 non-null   float64
 6   R_BDRMS        62863 non-null   float64
 7   R_FULL_BTH     62863 non-null   float64
 8   R_HALF_BTH     62863 non-null   float64
 9   R_BTH_STYLE    62863 non-null   object
 10  R_BTH_STYLE2   54441 non-null   object
 11  R_KITCH        62863 non-null   float64
 12  R_KITCH_STYLE  62863 non-null   object
 13  R_EXT_CND      62863 non-null   object
 14  R_OVRALL_CND   62863 non-null   object
 15  R_INT_CND      62863 non-null   object
dtypes: float64(9), object(7)
memory usage: 20.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170910 entries, 0 to 170909
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PID             170910 non-null  object
 1   YR_REMODEL      131370 non-null  float64
 2   GROSS_AREA      166652 non-null  float64
 3   LIVING_AREA     166652 non-null  float64
 4   RES_FLOOR       149101 non-null  float64
 5   TT_RMS          62863 non-null   float64
 6   BED_RMS         62863 non-null   float64
 7   FULL_BTH        62863 non-null   float64
 8   HLF_BTH         62863 non-null   float64
 9   BTHRM_STYLE1    62863 non-null   object
 10  BTHRM_STYLE2    54441 non-null   object
 11  KITCHEN         62863 non-null   float64
 12  KITCHEN_STYLE1  62863 non-null   object
 13  EXT_COND        62863 non-null   object
 14  OVERALL_COND    62863 non-null   object
 15  INT_COND        62863 non-null   object
dtypes: float64(9), object(7)
memory usage: 20.9+ MB
None

In [12]:
print(pa2017df.shape)

# Drop Duplicates
pa2017df = pa2017df.drop_duplicates(subset="PID")

print(pa2017df.shape)

(170910, 16)
(168181, 16)

In [13]:
# Check the values of All Columns

# Get a list of all columns
collist = list(pa2017df.columns)
print(collist)
print(len(collist))

# Remove PID from the list
collist = collist[1:]
print(collist)
print(len(collist))

# Print Frequencies of all values
for col in collist:
  print(pa2017df[col].value_counts().sort_index() )

['PID', 'YR_REMODEL', 'GROSS_AREA', 'LIVING_AREA', 'RES_FLOOR', 'TT_RMS', 'BED_RMS', 'FULL_BTH', 'HLF_BTH', 'BTHRM_STYLE1', 'BTHRM_STYLE2', 'KITCHEN', 'KITCHEN_STYLE1', 'EXT_COND', 'OVERALL_COND', 'INT_COND']
16
['YR_REMODEL', 'GROSS_AREA', 'LIVING_AREA', 'RES_FLOOR', 'TT_RMS', 'BED_RMS', 'FULL_BTH', 'HLF_BTH', 'BTHRM_STYLE1', 'BTHRM_STYLE2', 'KITCHEN', 'KITCHEN_STYLE1', 'EXT_COND', 'OVERALL_COND', 'INT_COND']
15
0.00       47229
995.00         1
1500.00        1
1828.00        1
1878.00        1
           ...
2012.00     2269
2013.00     2181
2014.00     2181
2015.00     3025
2016.00      307
Name: YR_REMODEL, Length: 104, dtype: int64
0.00          26248
1.00            572
2.00              1
3.00              2
25.00             1
              ...
1493304.00        1
1502842.00        1
1645931.00        1
1970176.00        1
1976650.00        1
Name: GROSS_AREA, Length: 12557, dtype: int64
0.00          26252
1.00            575
2.00              3
3.00              1
25.00             1
              ...
1335000.00        1
1409965.00        1
1592556.00        1
1885420.00        1
1940476.00        1
Name: LIVING_AREA, Length: 10359, dtype: int64
0.00       110
0.30         1
1.00     58199
1.50      3624
2.00     43057
2.50      7822
2.70         1
3.00     24525
3.50       650
4.00      5283
4.50       152
5.00      1768
5.50        23
6.00       447
6.50         5
7.00       154
7.50         2
8.00       134
8.70         1
9.00        74
10.00       80
11.00       81
12.00       38
13.00       19
14.00       27
15.00       12
16.00        8
17.00       18
18.00       13
19.00        7
20.00        8
21.00       12
22.00        5
23.00        8
24.00        5
25.00        4
26.00        6
27.00        3
28.00        6
29.00        3
30.00        4
31.00        4
32.00        4
33.00        2
34.00        1
35.00        2
36.00        1
37.00        1
38.00        3
39.00        6
40.00        2
41.00        3
42.00        1
43.00        1
46.00        2
50.00        1
59.00        1
60.00        1
62.00        1
Name: RES_FLOOR, dtype: int64
1.00        2
2.00        7
3.00       48
4.00      630
5.00     2968
6.00     8425
7.00     8189
8.00     6484
9.00     4500
10.00    5792
11.00    4409
12.00    5332
13.00    2339
14.00    3318
15.00    4827
16.00     935
17.00    1353
18.00    2428
19.00     144
20.00     267
21.00     194
22.00      24
23.00      17
24.00      16
25.00       4
26.00       5
27.00       1
Name: TT_RMS, dtype: int64
0.00         4
1.00       218
2.00      4328
3.00     16941
4.00     14055
5.00      7959
6.00     10563
7.00      2174
8.00      2290
9.00      3216
10.00      287
11.00      332
12.00      229
13.00       18
14.00       31
15.00        9
16.00        3
18.00        1
Name: BED_RMS, dtype: int64
0.00         6
1.00     20193
2.00     22660
3.00     17445
4.00      1726
5.00       299
6.00       281
7.00        22
8.00        15
9.00         8
11.00        1
12.00        1
21.00        1
Name: FULL_BTH, dtype: int64
0.00     42026
1.00     18612
2.00      1675
3.00       320
4.00        18
5.00         5
6.00         1
10.00        1
Name: HLF_BTH, dtype: int64
L      622
M    18463
N     5194
S    38379
Name: BTHRM_STYLE1, dtype: int64
L      132
M    16758
N     4395
S    33001
Name: BTHRM_STYLE2, dtype: int64
0.00        7
1.00    29947
2.00    18268
3.00    14333
4.00      103
Name: KITCHEN, dtype: int64
L      832
M    20083
N     5407
S    36336
Name: KITCHEN_STYLE1, dtype: int64
A    48858
E       59
F     2583
G    11073
P       85
Name: EXT_COND, dtype: int64
A    51666
E      331
F      814
G     9775
P       72
Name: OVERALL_COND, dtype: int64
A    44927
E      504
F     1206
G    15927
P       94
Name: INT_COND, dtype: int64

### Convert Categorical Values to Ranks

In [14]:
pa2017moddf = pa2017df.copy() 

pa2017moddf['INT_COND_RANK'] = NaN
pa2017moddf['INT_COND_RANK'] = np.where(pa2017moddf['INT_COND'] == 'P' , 1 , pa2017moddf['INT_COND_RANK'] )      
pa2017moddf['INT_COND_RANK'] = np.where(pa2017moddf['INT_COND'] == 'F' , 2 , pa2017moddf['INT_COND_RANK'] )   
pa2017moddf['INT_COND_RANK'] = np.where(pa2017moddf['INT_COND'] == 'A' , 3 , pa2017moddf['INT_COND_RANK'] )
pa2017moddf['INT_COND_RANK'] = np.where(pa2017moddf['INT_COND'] == 'G' , 4 , pa2017moddf['INT_COND_RANK'] )
pa2017moddf['INT_COND_RANK'] = np.where(pa2017moddf['INT_COND'] == 'E' , 5 , pa2017moddf['INT_COND_RANK'] ) 

pa2017moddf['EXT_COND_RANK'] = NaN
pa2017moddf['EXT_COND_RANK'] = np.where(pa2017moddf['EXT_COND'] == 'P' , 1 , pa2017moddf['EXT_COND_RANK'] )      
pa2017moddf['EXT_COND_RANK'] = np.where(pa2017moddf['EXT_COND'] == 'F' , 2 , pa2017moddf['EXT_COND_RANK'] )   
pa2017moddf['EXT_COND_RANK'] = np.where(pa2017moddf['EXT_COND'] == 'A' , 3 , pa2017moddf['EXT_COND_RANK'] )
pa2017moddf['EXT_COND_RANK'] = np.where(pa2017moddf['EXT_COND'] == 'G' , 4 , pa2017moddf['EXT_COND_RANK'] )
pa2017moddf['EXT_COND_RANK'] = np.where(pa2017moddf['EXT_COND'] == 'E' , 5 , pa2017moddf['EXT_COND_RANK'] ) 

pa2017moddf['OVERALL_COND_RANK'] = NaN
pa2017moddf['OVERALL_COND_RANK'] = np.where(pa2017moddf['OVERALL_COND'] == 'P' , 1 , pa2017moddf['OVERALL_COND_RANK'] )      
pa2017moddf['OVERALL_COND_RANK'] = np.where(pa2017moddf['OVERALL_COND'] == 'F' , 2 , pa2017moddf['OVERALL_COND_RANK'] )   
pa2017moddf['OVERALL_COND_RANK'] = np.where(pa2017moddf['OVERALL_COND'] == 'A' , 3 , pa2017moddf['OVERALL_COND_RANK'] )
pa2017moddf['OVERALL_COND_RANK'] = np.where(pa2017moddf['OVERALL_COND'] == 'G' , 4 , pa2017moddf['OVERALL_COND_RANK'] )
pa2017moddf['OVERALL_COND_RANK'] = np.where(pa2017moddf['OVERALL_COND'] == 'E' , 5 , pa2017moddf['OVERALL_COND_RANK'] ) 

pa2017moddf['BTHRM_STYLE1_RANK'] = NaN
pa2017moddf['BTHRM_STYLE1_RANK'] = np.where(pa2017moddf['BTHRM_STYLE1'] == 'N' , 1 , pa2017moddf['BTHRM_STYLE1_RANK'] )      
pa2017moddf['BTHRM_STYLE1_RANK'] = np.where(pa2017moddf['BTHRM_STYLE1'] == 'S' , 2 , pa2017moddf['BTHRM_STYLE1_RANK'] )   
pa2017moddf['BTHRM_STYLE1_RANK'] = np.where(pa2017moddf['BTHRM_STYLE1'] == 'M' , 3 , pa2017moddf['BTHRM_STYLE1_RANK'] )
pa2017moddf['BTHRM_STYLE1_RANK'] = np.where(pa2017moddf['BTHRM_STYLE1'] == 'L' , 4 , pa2017moddf['BTHRM_STYLE1_RANK'] ) 

pa2017moddf['BTHRM_STYLE2_RANK'] = NaN
pa2017moddf['BTHRM_STYLE2_RANK'] = np.where(pa2017moddf['BTHRM_STYLE2'] == 'N' , 1 , pa2017moddf['BTHRM_STYLE2_RANK'] )      
pa2017moddf['BTHRM_STYLE2_RANK'] = np.where(pa2017moddf['BTHRM_STYLE2'] == 'S' , 2 , pa2017moddf['BTHRM_STYLE2_RANK'] )   
pa2017moddf['BTHRM_STYLE2_RANK'] = np.where(pa2017moddf['BTHRM_STYLE2'] == 'M' , 3 , pa2017moddf['BTHRM_STYLE2_RANK'] )
pa2017moddf['BTHRM_STYLE2_RANK'] = np.where(pa2017moddf['BTHRM_STYLE2'] == 'L' , 4 , pa2017moddf['BTHRM_STYLE2_RANK'] ) 

pa2017moddf['KITCHEN_STYLE1_RANK'] = NaN
pa2017moddf['KITCHEN_STYLE1_RANK'] = np.where(pa2017moddf['KITCHEN_STYLE1'] == 'N' , 1 , pa2017moddf['KITCHEN_STYLE1_RANK'] )      
pa2017moddf['KITCHEN_STYLE1_RANK'] = np.where(pa2017moddf['KITCHEN_STYLE1'] == 'S' , 2 , pa2017moddf['KITCHEN_STYLE1_RANK'] )   
pa2017moddf['KITCHEN_STYLE1_RANK'] = np.where(pa2017moddf['KITCHEN_STYLE1'] == 'M' , 3 , pa2017moddf['KITCHEN_STYLE1_RANK'] )
pa2017moddf['KITCHEN_STYLE1_RANK'] = np.where(pa2017moddf['KITCHEN_STYLE1'] == 'L' , 4 , pa2017moddf['KITCHEN_STYLE1_RANK'] ) 

def rankchk(orig, rnk):
  print('\n============================================')
  print(orig)
  print('============================================\n')
  print(pa2017moddf[[rnk, orig]].value_counts().sort_index() )

rankchk('INT_COND'       ,'INT_COND_RANK')
rankchk('EXT_COND'       , 'EXT_COND_RANK')
rankchk('OVERALL_COND'   , 'OVERALL_COND_RANK')
rankchk('BTHRM_STYLE1'   , 'BTHRM_STYLE1_RANK')
rankchk('BTHRM_STYLE2'   , 'BTHRM_STYLE2_RANK')
rankchk('KITCHEN_STYLE1' , 'KITCHEN_STYLE1_RANK')

============================================
INT_COND
============================================

INT_COND_RANK  INT_COND
1.00           P              94
2.00           F            1206
3.00           A           44927
4.00           G           15927
5.00           E             504
dtype: int64

============================================
EXT_COND
============================================

EXT_COND_RANK  EXT_COND
1.00           P              85
2.00           F            2583
3.00           A           48858
4.00           G           11073
5.00           E              59
dtype: int64

============================================
OVERALL_COND
============================================

OVERALL_COND_RANK  OVERALL_COND
1.00               P                  72
2.00               F                 814
3.00               A               51666
4.00               G                9775
5.00               E                 331
dtype: int64

============================================
BTHRM_STYLE1
============================================

BTHRM_STYLE1_RANK  BTHRM_STYLE1
1.00               N                5194
2.00               S               38379
3.00               M               18463
4.00               L                 622
dtype: int64

============================================
BTHRM_STYLE2
============================================

BTHRM_STYLE2_RANK  BTHRM_STYLE2
1.00               N                4395
2.00               S               33001
3.00               M               16758
4.00               L                 132
dtype: int64

============================================
KITCHEN_STYLE1
============================================

KITCHEN_STYLE1_RANK  KITCHEN_STYLE1
1.00                 N                  5407
2.00                 S                 36336
3.00                 M                 20083
4.00                 L                   832
dtype: int64

### Drop the Original Columns (Keep the Ranks) And Rename All Columns

In [15]:
keepcols = [
  'PID'
, 'YR_REMODEL'
, 'RES_FLOOR'
, 'GROSS_AREA'
, 'LIVING_AREA'
, 'BED_RMS'
, 'FULL_BTH'
, 'HLF_BTH'
, 'KITCHEN'
, 'TT_RMS'
, 'INT_COND_RANK'
, 'EXT_COND_RANK'
, 'OVERALL_COND_RANK'
, 'BTHRM_STYLE1_RANK'
, 'BTHRM_STYLE2_RANK'
, 'KITCHEN_STYLE1_RANK' 
]
 

# Add '17' Suffix to All Column Names
keepcols17 = [sub + '_17' for sub in keepcols]

print(keepcols)
print(keepcols17)

# Create Final 2017 DF with Select Columns
pa2017finldf = pa2017moddf[keepcols]
pa2017finldf.columns = keepcols17
pa2017finldf.info()

['PID', 'YR_REMODEL', 'RES_FLOOR', 'GROSS_AREA', 'LIVING_AREA', 'BED_RMS', 'FULL_BTH', 'HLF_BTH', 'KITCHEN', 'TT_RMS', 'INT_COND_RANK', 'EXT_COND_RANK', 'OVERALL_COND_RANK', 'BTHRM_STYLE1_RANK', 'BTHRM_STYLE2_RANK', 'KITCHEN_STYLE1_RANK']
['PID_17', 'YR_REMODEL_17', 'RES_FLOOR_17', 'GROSS_AREA_17', 'LIVING_AREA_17', 'BED_RMS_17', 'FULL_BTH_17', 'HLF_BTH_17', 'KITCHEN_17', 'TT_RMS_17', 'INT_COND_RANK_17', 'EXT_COND_RANK_17', 'OVERALL_COND_RANK_17', 'BTHRM_STYLE1_RANK_17', 'BTHRM_STYLE2_RANK_17', 'KITCHEN_STYLE1_RANK_17']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 168181 entries, 0 to 170907
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   PID_17                  168181 non-null  object
 1   YR_REMODEL_17           130070 non-null  float64
 2   RES_FLOOR_17            146436 non-null  float64
 3   GROSS_AREA_17           163926 non-null  float64
 4   LIVING_AREA_17          163926 non-null  float64
 5   BED_RMS_17              62658 non-null   float64
 6   FULL_BTH_17             62658 non-null   float64
 7   HLF_BTH_17              62658 non-null   float64
 8   KITCHEN_17              62658 non-null   float64
 9   TT_RMS_17               62658 non-null   float64
 10  INT_COND_RANK_17        62658 non-null   float64
 11  EXT_COND_RANK_17        62658 non-null   float64
 12  OVERALL_COND_RANK_17    62658 non-null   float64
 13  BTHRM_STYLE1_RANK_17    62658 non-null   float64
 14  BTHRM_STYLE2_RANK_17    54286 non-null   float64
 15  KITCHEN_STYLE1_RANK_17  62658 non-null   float64
dtypes: float64(15), object(1)
memory usage: 21.8+ MB

# Merge/Add 2017 Features to 2022 File

In [16]:
print('pa2022 shape:', pa2022finldf.shape )
print('pa2017 shape:', pa2017finldf.shape )


pa2017finldf['PID_17b'] = pa2017finldf['PID_17'].str.replace('_','')
pa2017finldf['PID_17b'] = pa2017finldf['PID_17b'].astype('int64')
 
pa2022finldf['PID_22b'] = pa2022finldf['PID_22'].str.replace('_','')
pa2022finldf['PID_22b'] = pa2022finldf['PID_22b'].astype('int64')

pafinaldf = pa2022finldf.copy()
pafinaldf = pd.merge(pafinaldf, pa2017finldf, left_on='PID_22b', right_on="PID_17b", how='left') 
pafinaldf = pafinaldf.drop(['PID_17','PID_17b','PID_22b'], axis=1)
print('pafinal shape:', pafinaldf.shape )
print(pafinaldf.info() )

pa2022 shape: (25640, 17)
pa2017 shape: (168181, 16)
pafinal shape: (25640, 32)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 25640 entries, 0 to 25639
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PID_22                  25640 non-null  object
 1   YR_REMODEL_22           10467 non-null  float64
 2   RES_FLOOR_22            25640 non-null  float64
 3   GROSS_AREA_22           25640 non-null  float64
 4   LIVING_AREA_22          25640 non-null  float64
 5   BED_RMS_22              25640 non-null  int64
 6   FULL_BTH_22             25640 non-null  int64
 7   HLF_BTH_22              25640 non-null  int64
 8   KITCHEN_22              25640 non-null  int64
 9   TT_RMS_22               25640 non-null  int64
 10  INT_COND_RANK_22        25640 non-null  float64
 11  EXT_COND_RANK_22        25640 non-null  float64
 12  OVERALL_COND_RANK_22    25640 non-null  float64
 13  BTHRM_STYLE1_RANK_22    25640 non-null  float64
 14  BTHRM_STYLE2_RANK_22    19580 non-null  float64
 15  KITCHEN_STYLE1_RANK_22  25640 non-null  float64
 16  KITCHEN_TYPE_RANK_22    25639 non-null  float64
 17  YR_REMODEL_17           24120 non-null  float64
 18  RES_FLOOR_17            25490 non-null  float64
 19  GROSS_AREA_17           25583 non-null  float64
 20  LIVING_AREA_17          25583 non-null  float64
 21  BED_RMS_17              25478 non-null  float64
 22  FULL_BTH_17             25478 non-null  float64
 23  HLF_BTH_17              25478 non-null  float64
 24  KITCHEN_17              25478 non-null  float64
 25  TT_RMS_17               25478 non-null  float64
 26  INT_COND_RANK_17        25478 non-null  float64
 27  EXT_COND_RANK_17        25478 non-null  float64
 28  OVERALL_COND_RANK_17    25478 non-null  float64
 29  BTHRM_STYLE1_RANK_17    25478 non-null  float64
 30  BTHRM_STYLE2_RANK_17    18745 non-null  float64
 31  KITCHEN_STYLE1_RANK_17  25478 non-null  float64
dtypes: float64(26), int64(5), object(1)
memory usage: 6.5+ MB
None

## Calculate Change (2022-2017) and Set Flags

In [17]:
pafinaldf['RES_FLOOR_CHG_IND'] =  np.where(pafinaldf['RES_FLOOR_22'] > pafinaldf['RES_FLOOR_17']  , 1 , 0 )
pafinaldf['RES_FLOOR_CHG_IND'] =  np.where(pafinaldf['RES_FLOOR_22'] == NaN , NaN , pafinaldf['RES_FLOOR_CHG_IND']  )
pafinaldf['RES_FLOOR_CHG_IND'] =  np.where(pafinaldf['RES_FLOOR_17'] == NaN , NaN , pafinaldf['RES_FLOOR_CHG_IND']  )
pafinaldf['RES_FLOOR_CHG']     =  pafinaldf['RES_FLOOR_22'] - pafinaldf['RES_FLOOR_17']
pafinaldf['RES_FLOOR_CHG']     =  np.where(pafinaldf['RES_FLOOR_22'] == NaN , NaN , pafinaldf['RES_FLOOR_CHG']  )
pafinaldf['RES_FLOOR_CHG']     =  np.where(pafinaldf['RES_FLOOR_17'] == NaN , NaN , pafinaldf['RES_FLOOR_CHG']  )

pafinaldf['GROSS_AREA_CHG_IND'] =  np.where(pafinaldf['GROSS_AREA_22'] > pafinaldf['GROSS_AREA_17']  , 1 , 0 )
pafinaldf['GROSS_AREA_CHG_IND'] =  np.where(pafinaldf['GROSS_AREA_22'] == NaN , NaN , pafinaldf['GROSS_AREA_CHG_IND']  )
pafinaldf['GROSS_AREA_CHG_IND'] =  np.where(pafinaldf['GROSS_AREA_17'] == NaN , NaN , pafinaldf['GROSS_AREA_CHG_IND']  )
pafinaldf['GROSS_AREA_CHG']     =  pafinaldf['GROSS_AREA_22'] - pafinaldf['GROSS_AREA_17']
pafinaldf['GROSS_AREA_CHG']     =  np.where(pafinaldf['GROSS_AREA_22'] == NaN , NaN , pafinaldf['GROSS_AREA_CHG']  )
pafinaldf['GROSS_AREA_CHG']     =  np.where(pafinaldf['GROSS_AREA_17'] == NaN , NaN , pafinaldf['GROSS_AREA_CHG']  )

pafinaldf['LIVING_AREA_CHG_IND'] =  np.where(pafinaldf['LIVING_AREA_22'] > pafinaldf['LIVING_AREA_17']  , 1 , 0 )
pafinaldf['LIVING_AREA_CHG_IND'] =  np.where(pafinaldf['LIVING_AREA_22'] == NaN , NaN , pafinaldf['LIVING_AREA_CHG_IND']  )
pafinaldf['LIVING_AREA_CHG_IND'] =  np.where(pafinaldf['LIVING_AREA_17'] == NaN , NaN , pafinaldf['LIVING_AREA_CHG_IND']  )
pafinaldf['LIVING_AREA_CHG']     =  pafinaldf['LIVING_AREA_22'] - pafinaldf['LIVING_AREA_17']
pafinaldf['LIVING_AREA_CHG']     =  np.where(pafinaldf['LIVING_AREA_22'] == NaN , NaN , pafinaldf['LIVING_AREA_CHG']  )
pafinaldf['LIVING_AREA_CHG']     =  np.where(pafinaldf['LIVING_AREA_17'] == NaN , NaN , pafinaldf['LIVING_AREA_CHG']  )

pafinaldf['BED_RMS_CHG_IND'] =  np.where(pafinaldf['BED_RMS_22'] > pafinaldf['BED_RMS_17']  , 1 , 0 )
pafinaldf['BED_RMS_CHG_IND'] =  np.where(pafinaldf['BED_RMS_22'] == NaN , NaN , pafinaldf['BED_RMS_CHG_IND']  )
pafinaldf['BED_RMS_CHG_IND'] =  np.where(pafinaldf['BED_RMS_17'] == NaN , NaN , pafinaldf['BED_RMS_CHG_IND']  )
pafinaldf['BED_RMS_CHG']     =  pafinaldf['BED_RMS_22'] - pafinaldf['BED_RMS_17']
pafinaldf['BED_RMS_CHG']     =  np.where(pafinaldf['BED_RMS_22'] == NaN , NaN , pafinaldf['BED_RMS_CHG']  )
pafinaldf['BED_RMS_CHG']     =  np.where(pafinaldf['BED_RMS_17'] == NaN , NaN , pafinaldf['BED_RMS_CHG']  )

pafinaldf['TT_RMS_CHG_IND'] =  np.where(pafinaldf['TT_RMS_22'] > pafinaldf['TT_RMS_17']  , 1 , 0 )
pafinaldf['TT_RMS_CHG_IND'] =  np.where(pafinaldf['TT_RMS_22'] == NaN , NaN , pafinaldf['TT_RMS_CHG_IND']  )
pafinaldf['TT_RMS_CHG_IND'] =  np.where(pafinaldf['TT_RMS_17'] == NaN , NaN , pafinaldf['TT_RMS_CHG_IND']  )
pafinaldf['TT_RMS_CHG']     =  pafinaldf['TT_RMS_22'] - pafinaldf['TT_RMS_17']
pafinaldf['TT_RMS_CHG']     =  np.where(pafinaldf['TT_RMS_22'] == NaN , NaN , pafinaldf['TT_RMS_CHG']  )
pafinaldf['TT_RMS_CHG']     =  np.where(pafinaldf['TT_RMS_17'] == NaN , NaN , pafinaldf['TT_RMS_CHG']  )
  
pafinaldf['FULL_BTH_CHG_IND'] =  np.where(pafinaldf['FULL_BTH_22'] > pafinaldf['FULL_BTH_17']  , 1 , 0 )
pafinaldf['FULL_BTH_CHG_IND'] =  np.where(pafinaldf['FULL_BTH_22'] == NaN , NaN , pafinaldf['FULL_BTH_CHG_IND']  )
pafinaldf['FULL_BTH_CHG_IND'] =  np.where(pafinaldf['FULL_BTH_17'] == NaN , NaN , pafinaldf['FULL_BTH_CHG_IND']  )
pafinaldf['FULL_BTH_CHG']     =  pafinaldf['FULL_BTH_22'] - pafinaldf['FULL_BTH_17']
pafinaldf['FULL_BTH_CHG']     =  np.where(pafinaldf['FULL_BTH_22'] == NaN , NaN , pafinaldf['FULL_BTH_CHG']  )
pafinaldf['FULL_BTH_CHG']     =  np.where(pafinaldf['FULL_BTH_17'] == NaN , NaN , pafinaldf['FULL_BTH_CHG']  )

pafinaldf['HLF_BTH_CHG_IND'] =  np.where(pafinaldf['HLF_BTH_22'] > pafinaldf['HLF_BTH_17']  , 1 , 0 )
pafinaldf['HLF_BTH_CHG_IND'] =  np.where(pafinaldf['HLF_BTH_22'] == NaN , NaN , pafinaldf['HLF_BTH_CHG_IND']  )
pafinaldf['HLF_BTH_CHG_IND'] =  np.where(pafinaldf['HLF_BTH_17'] == NaN , NaN , pafinaldf['HLF_BTH_CHG_IND']  )
pafinaldf['HLF_BTH_CHG']     =  pafinaldf['HLF_BTH_22'] - pafinaldf['HLF_BTH_17']
pafinaldf['HLF_BTH_CHG']     =  np.where(pafinaldf['HLF_BTH_22'] == NaN , NaN , pafinaldf['HLF_BTH_CHG']  )
pafinaldf['HLF_BTH_CHG']     =  np.where(pafinaldf['HLF_BTH_17'] == NaN , NaN , pafinaldf['HLF_BTH_CHG']  )

pafinaldf['KITCHEN_CHG_IND'] =  np.where(pafinaldf['KITCHEN_22'] > pafinaldf['KITCHEN_17']  , 1 , 0 )
pafinaldf['KITCHEN_CHG_IND'] =  np.where(pafinaldf['KITCHEN_22'] == NaN , NaN , pafinaldf['KITCHEN_CHG_IND']  )
pafinaldf['KITCHEN_CHG_IND'] =  np.where(pafinaldf['KITCHEN_17'] == NaN , NaN , pafinaldf['KITCHEN_CHG_IND']  )
pafinaldf['KITCHEN_CHG']     =  pafinaldf['KITCHEN_22'] - pafinaldf['KITCHEN_17']
pafinaldf['KITCHEN_CHG']     =  np.where(pafinaldf['KITCHEN_22'] == NaN , NaN , pafinaldf['KITCHEN_CHG']  )
pafinaldf['KITCHEN_CHG']     =  np.where(pafinaldf['KITCHEN_17'] == NaN , NaN , pafinaldf['KITCHEN_CHG']  )
 
pafinaldf['INT_COND_RANK_CHG_IND'] =  np.where(pafinaldf['INT_COND_RANK_22'] > pafinaldf['INT_COND_RANK_17']  , 1 , 0 )
pafinaldf['INT_COND_RANK_CHG_IND'] =  np.where(pafinaldf['INT_COND_RANK_22'] == NaN , NaN , pafinaldf['INT_COND_RANK_CHG_IND']  )
pafinaldf['INT_COND_RANK_CHG_IND'] =  np.where(pafinaldf['INT_COND_RANK_17'] == NaN , NaN , pafinaldf['INT_COND_RANK_CHG_IND']  )
pafinaldf['INT_COND_RANK_CHG']     =  pafinaldf['INT_COND_RANK_22'] - pafinaldf['INT_COND_RANK_17']
pafinaldf['INT_COND_RANK_CHG']     =  np.where(pafinaldf['INT_COND_RANK_22'] == NaN , NaN , pafinaldf['INT_COND_RANK_CHG']  )
pafinaldf['INT_COND_RANK_CHG']     =  np.where(pafinaldf['INT_COND_RANK_17'] == NaN , NaN , pafinaldf['INT_COND_RANK_CHG']  )

pafinaldf['EXT_COND_RANK_CHG_IND'] =  np.where(pafinaldf['EXT_COND_RANK_22'] > pafinaldf['EXT_COND_RANK_17']  , 1 , 0 )
pafinaldf['EXT_COND_RANK_CHG_IND'] =  np.where(pafinaldf['EXT_COND_RANK_22'] == NaN , NaN , pafinaldf['EXT_COND_RANK_CHG_IND']  )
pafinaldf['EXT_COND_RANK_CHG_IND'] =  np.where(pafinaldf['EXT_COND_RANK_17'] == NaN , NaN , pafinaldf['EXT_COND_RANK_CHG_IND']  )
pafinaldf['EXT_COND_RANK_CHG']     =  pafinaldf['EXT_COND_RANK_22'] - pafinaldf['EXT_COND_RANK_17']
pafinaldf['EXT_COND_RANK_CHG']     =  np.where(pafinaldf['EXT_COND_RANK_22'] == NaN , NaN , pafinaldf['EXT_COND_RANK_CHG']  )
pafinaldf['EXT_COND_RANK_CHG']     =  np.where(pafinaldf['EXT_COND_RANK_17'] == NaN , NaN , pafinaldf['EXT_COND_RANK_CHG']  )

pafinaldf['OVERALL_COND_RANK_CHG_IND'] =  np.where(pafinaldf['OVERALL_COND_RANK_22'] > pafinaldf['OVERALL_COND_RANK_17']  , 1 , 0 )
pafinaldf['OVERALL_COND_RANK_CHG_IND'] =  np.where(pafinaldf['OVERALL_COND_RANK_22'] == NaN , NaN , pafinaldf['OVERALL_COND_RANK_CHG_IND']  )
pafinaldf['OVERALL_COND_RANK_CHG_IND'] =  np.where(pafinaldf['OVERALL_COND_RANK_17'] == NaN , NaN , pafinaldf['OVERALL_COND_RANK_CHG_IND']  )
pafinaldf['OVERALL_COND_RANK_CHG']     =  pafinaldf['OVERALL_COND_RANK_22'] - pafinaldf['OVERALL_COND_RANK_17']
pafinaldf['OVERALL_COND_RANK_CHG']     =  np.where(pafinaldf['OVERALL_COND_RANK_22'] == NaN , NaN , pafinaldf['OVERALL_COND_RANK_CHG']  )
pafinaldf['OVERALL_COND_RANK_CHG']     =  np.where(pafinaldf['OVERALL_COND_RANK_17'] == NaN , NaN , pafinaldf['OVERALL_COND_RANK_CHG']  )

pafinaldf['BTHRM_STYLE1_RANK_CHG_IND'] =  np.where(pafinaldf['BTHRM_STYLE1_RANK_22'] > pafinaldf['BTHRM_STYLE1_RANK_17']  , 1 , 0 )
pafinaldf['BTHRM_STYLE1_RANK_CHG_IND'] =  np.where(pafinaldf['BTHRM_STYLE1_RANK_22'] == NaN , NaN , pafinaldf['BTHRM_STYLE1_RANK_CHG_IND']  )
pafinaldf['BTHRM_STYLE1_RANK_CHG_IND'] =  np.where(pafinaldf['BTHRM_STYLE1_RANK_17'] == NaN , NaN , pafinaldf['BTHRM_STYLE1_RANK_CHG_IND']  )
pafinaldf['BTHRM_STYLE1_RANK_CHG']     =  pafinaldf['BTHRM_STYLE1_RANK_22'] - pafinaldf['BTHRM_STYLE1_RANK_17']
pafinaldf['BTHRM_STYLE1_RANK_CHG']     =  np.where(pafinaldf['BTHRM_STYLE1_RANK_22'] == NaN , NaN , pafinaldf['BTHRM_STYLE1_RANK_CHG']  )
pafinaldf['BTHRM_STYLE1_RANK_CHG']     =  np.where(pafinaldf['BTHRM_STYLE1_RANK_17'] == NaN , NaN , pafinaldf['BTHRM_STYLE1_RANK_CHG']  )

pafinaldf['BTHRM_STYLE2_RANK_CHG_IND'] =  np.where(pafinaldf['BTHRM_STYLE2_RANK_22'] > pafinaldf['BTHRM_STYLE2_RANK_17']  , 1 , 0 )
pafinaldf['BTHRM_STYLE2_RANK_CHG_IND'] =  np.where(pafinaldf['BTHRM_STYLE2_RANK_22'] == NaN , NaN , pafinaldf['BTHRM_STYLE2_RANK_CHG_IND']  )
pafinaldf['BTHRM_STYLE2_RANK_CHG_IND'] =  np.where(pafinaldf['BTHRM_STYLE2_RANK_17'] == NaN , NaN , pafinaldf['BTHRM_STYLE2_RANK_CHG_IND']  )
pafinaldf['BTHRM_STYLE2_RANK_CHG']     =  pafinaldf['BTHRM_STYLE2_RANK_22'] - pafinaldf['BTHRM_STYLE2_RANK_17']
pafinaldf['BTHRM_STYLE2_RANK_CHG']     =  np.where(pafinaldf['BTHRM_STYLE2_RANK_22'] == NaN , NaN , pafinaldf['BTHRM_STYLE2_RANK_CHG']  )
pafinaldf['BTHRM_STYLE2_RANK_CHG']     =  np.where(pafinaldf['BTHRM_STYLE2_RANK_17'] == NaN , NaN , pafinaldf['BTHRM_STYLE2_RANK_CHG']  )

pafinaldf['KITCHEN_STYLE1_RANK_CHG_IND'] =  np.where(pafinaldf['KITCHEN_STYLE1_RANK_22'] > pafinaldf['KITCHEN_STYLE1_RANK_17']  , 1 , 0 )
pafinaldf['KITCHEN_STYLE1_RANK_CHG_IND'] =  np.where(pafinaldf['KITCHEN_STYLE1_RANK_22'] == NaN , NaN , pafinaldf['KITCHEN_STYLE1_RANK_CHG_IND']  )
pafinaldf['KITCHEN_STYLE1_RANK_CHG_IND'] =  np.where(pafinaldf['KITCHEN_STYLE1_RANK_17'] == NaN , NaN , pafinaldf['KITCHEN_STYLE1_RANK_CHG_IND']  )
pafinaldf['KITCHEN_STYLE1_RANK_CHG']     =  pafinaldf['KITCHEN_STYLE1_RANK_22'] - pafinaldf['KITCHEN_STYLE1_RANK_17']
pafinaldf['KITCHEN_STYLE1_RANK_CHG']     =  np.where(pafinaldf['KITCHEN_STYLE1_RANK_22'] == NaN , NaN , pafinaldf['KITCHEN_STYLE1_RANK_CHG']  )
pafinaldf['KITCHEN_STYLE1_RANK_CHG']     =  np.where(pafinaldf['KITCHEN_STYLE1_RANK_17'] == NaN , NaN , pafinaldf['KITCHEN_STYLE1_RANK_CHG']  )

In [18]:
# Check Results on Count Features

def flagchk(col22, col12, colind):
  print('\n============================================')
  print(colind)
  print('============================================\n')
  print(pafinaldf[[colind]].value_counts().sort_index(), '\n' )
  print(pafinaldf[[colind, col12, col22]].value_counts().sort_index() )
 
   
flagchk('RES_FLOOR_22', 'RES_FLOOR_17', 'RES_FLOOR_CHG_IND')
flagchk('TT_RMS_22', 'TT_RMS_17', 'TT_RMS_CHG_IND')
flagchk('FULL_BTH_22', 'FULL_BTH_17', 'FULL_BTH_CHG_IND')
flagchk('HLF_BTH_22', 'HLF_BTH_17', 'HLF_BTH_CHG_IND')
flagchk('BED_RMS_22', 'BED_RMS_17', 'BED_RMS_CHG_IND')
flagchk('KITCHEN_22', 'KITCHEN_17', 'KITCHEN_CHG_IND')
flagchk('INT_COND_RANK_22', 'INT_COND_RANK_17', 'INT_COND_RANK_CHG_IND')
flagchk('EXT_COND_RANK_22', 'EXT_COND_RANK_17', 'EXT_COND_RANK_CHG_IND')
flagchk('OVERALL_COND_RANK_22', 'OVERALL_COND_RANK_17', 'OVERALL_COND_RANK_CHG_IND')
flagchk('BTHRM_STYLE1_RANK_22', 'BTHRM_STYLE1_RANK_17', 'BTHRM_STYLE1_RANK_CHG_IND')
flagchk('BTHRM_STYLE2_RANK_22', 'BTHRM_STYLE2_RANK_17', 'BTHRM_STYLE2_RANK_CHG_IND')
flagchk('KITCHEN_STYLE1_RANK_22', 'KITCHEN_STYLE1_RANK_17', 'KITCHEN_STYLE1_RANK_CHG_IND')

============================================
RES_FLOOR_CHG_IND
============================================

RES_FLOOR_CHG_IND
0.00                 25336
1.00                   304
dtype: int64

RES_FLOOR_CHG_IND  RES_FLOOR_17  RES_FLOOR_22
0.00               1.00          1.00             4664
                   1.50          1.00                8
                                 1.50             2842
                   2.00          1.00                1
                                 1.50                6
                                 2.00            14730
                   2.50          2.00                7
                                 2.50             1388
                   3.00          2.50                4
                                 3.00             1198
                   3.50          3.00                2
                                 3.50               78
                   4.00          3.50                1
                                 4.00              220
                   4.50          4.50               16
                   5.00          5.00               21
1.00               1.00          1.50               43
                                 2.00               50
                                 2.50                3
                                 3.00                1
                                 4.00                1
                   1.50          2.00               39
                   2.00          2.50              114
                                 3.00               36
                   2.50          3.00                8
                   3.00          3.50                5
                                 4.00                4
dtype: int64

============================================
TT_RMS_CHG_IND
============================================

TT_RMS_CHG_IND
0.00              24592
1.00               1048
dtype: int64

TT_RMS_CHG_IND  TT_RMS_17  TT_RMS_22
0.00            2.00       2               1
                3.00       3              22
                4.00       4             407
                5.00       4              10
                           5            2200
                                        ...
1.00            12.00      13              5
                           15              1
                13.00      14              1
                14.00      16              1
                20.00      21              1
Length: 110, dtype: int64

============================================
FULL_BTH_CHG_IND
============================================

FULL_BTH_CHG_IND
0.00                24288
1.00                 1352
dtype: int64

FULL_BTH_CHG_IND  FULL_BTH_17  FULL_BTH_22
0.00              1.00         1              15728
                  2.00         1                 44
                               2               6879
                  3.00         2                 22
                               3               1184
                  4.00         2                  2
                               3                  6
                               4                200
                  5.00         4                  1
                               5                 40
                  6.00         5                  2
                               6                 14
                  7.00         7                  1
                  8.00         8                  1
                  12.00        12                 1
                  21.00        3                  1
1.00              0.00         2                  1
                  1.00         2                904
                               3                139
                               4                 18
                               5                  1
                               6                  1
                               7                  1
                  2.00         3                239
                               4                 16
                               5                  3
                  3.00         4                 23
                               5                  1
                  4.00         5                  5
dtype: int64

============================================
HLF_BTH_CHG_IND
============================================

HLF_BTH_CHG_IND
0.00               24960
1.00                 680
dtype: int64

HLF_BTH_CHG_IND  HLF_BTH_17  HLF_BTH_22
0.00             0.00        0             10865
                 1.00        0               289
                             1             12959
                 2.00        0                 5
                             1                52
                             2               588
                 3.00        2                 1
                             3                32
                 4.00        4                 6
                 10.00       1                 1
1.00             0.00        1               585
                             2                20
                             3                 1
                 1.00        2                74
dtype: int64

============================================
BED_RMS_CHG_IND
============================================

BED_RMS_CHG_IND
0.00               24798
1.00                 842
dtype: int64

BED_RMS_CHG_IND  BED_RMS_17  BED_RMS_22
0.00             0.00        0                 1
                 1.00        1               126
                 2.00        1                 2
                             2              2979
                 3.00        2                57
                             3             12543
                 4.00        2                14
                             3               145
                             4              6065
                 5.00        2                 1
                             3                22
                             4                54
                             5              1764
                 6.00        2                 1
                             3                 1
                             4                13
                             5                24
                             6               621
                 7.00        3                 1
                             4                 5
                             5                18
                             6                10
                             7               119
                 8.00        5                 1
                             6                 3
                             7                 1
                             8                26
                 9.00        6                 1
                             7                 1
                             9                13
                 10.00       5                 1
                             9                 1
                             10                2
1.00             1.00        2                13
                             3                 6
                             4                 1
                 2.00        3               196
                             4                48
                             5                 4
                             6                 4
                             9                 1
                 3.00        4               343
                             5                65
                             6                 8
                             7                 2
                             8                 1
                 4.00        5               106
                             6                15
                             7                 2
                 5.00        6                18
                             7                 5
                 6.00        7                 1
                             9                 1
                 7.00        8                 2
dtype: int64

============================================
KITCHEN_CHG_IND
============================================

KITCHEN_CHG_IND
0.00               25566
1.00                  74
dtype: int64

KITCHEN_CHG_IND  KITCHEN_17  KITCHEN_22
0.00             1.00        1             24700
                 2.00        1                63
                             2               624
                 3.00        1                 6
                             2                 2
                             3                 9
1.00             0.00        1                 4
                 1.00        2                69
                             3                 1
dtype: int64

============================================
INT_COND_RANK_CHG_IND
============================================

INT_COND_RANK_CHG_IND
0.00                     24249
1.00                      1391
dtype: int64

INT_COND_RANK_CHG_IND  INT_COND_RANK_17  INT_COND_RANK_22
0.00                   1.00              1.00                   17
                       2.00              2.00                  282
                       3.00              2.00                   27
                                         3.00                16004
                       4.00              1.00                    1
                                         2.00                    3
                                         3.00                  254
                                         4.00                 7270
                       5.00              4.00                   17
                                         5.00                  212
1.00                   1.00              4.00                    2
                                         5.00                    6
                       2.00              3.00                   29
                                         4.00                   51
                                         5.00                    7
                       3.00              4.00                 1145
                                         5.00                   63
                       4.00              5.00                   88
dtype: int64

============================================
EXT_COND_RANK_CHG_IND
============================================

EXT_COND_RANK_CHG_IND
0.00                     24467
1.00                      1173
dtype: int64

EXT_COND_RANK_CHG_IND  EXT_COND_RANK_17  EXT_COND_RANK_22
0.00                   1.00              1.00                   16
                       2.00              1.00                    1
                                         2.00                  505
                       3.00              1.00                    2
                                         2.00                   68
                                         3.00                18562
                       4.00              2.00                    6
                                         3.00                  380
                                         4.00                 4735
                       5.00              4.00                    4
                                         5.00                   26
1.00                   1.00              4.00                    4
                       2.00              3.00                   85
                                         4.00                   81
                       3.00              4.00                  999
                                         5.00                    3
                       4.00              5.00                    1
dtype: int64

============================================
OVERALL_COND_RANK_CHG_IND
============================================

OVERALL_COND_RANK_CHG_IND
0.00                         24449
1.00                          1191
dtype: int64

OVERALL_COND_RANK_CHG_IND  OVERALL_COND_RANK_17  OVERALL_COND_RANK_22
0.00                       1.00                  1.00                       11
                           2.00                  2.00                      179
                           3.00                  1.00                        1
                                                 2.00                       25
                                                 3.00                    18920
                           4.00                  2.00                        1
                                                 3.00                      257
                                                 4.00                     4741
                           5.00                  4.00                       15
                                                 5.00                      137
1.00                       1.00                  2.00                        1
                                                 4.00                        2
                                                 5.00                        3
                           2.00                  3.00                       22
                                                 4.00                       32
                                                 5.00                        3
                           3.00                  4.00                     1085
                                                 5.00                       18
                           4.00                  5.00                       25
dtype: int64

============================================
BTHRM_STYLE1_RANK_CHG_IND
============================================

BTHRM_STYLE1_RANK_CHG_IND
0.00                         23869
1.00                          1771
dtype: int64

BTHRM_STYLE1_RANK_CHG_IND  BTHRM_STYLE1_RANK_17  BTHRM_STYLE1_RANK_22
0.00                       1.00                  1.00                     1446
                           2.00                  1.00                      115
                                                 2.00                    14049
                           3.00                  1.00                       13
                                                 2.00                      373
                                                 3.00                     7356
                           4.00                  2.00                        1
                                                 3.00                       13
                                                 4.00                      341
1.00                       1.00                  2.00                       49
                                                 3.00                      209
                                                 4.00                       18
                           2.00                  3.00                     1326
                                                 4.00                       56
                           3.00                  4.00                      113
dtype: int64

============================================
BTHRM_STYLE2_RANK_CHG_IND
============================================

BTHRM_STYLE2_RANK_CHG_IND
0.00                         24673
1.00                           967
dtype: int64

BTHRM_STYLE2_RANK_CHG_IND  BTHRM_STYLE2_RANK_17  BTHRM_STYLE2_RANK_22
0.00                       1.00                  1.00                     894
                           2.00                  1.00                      73
                                                 2.00                    9888
                           3.00                  1.00                      15
                                                 2.00                     289
                                                 3.00                    6542
                           4.00                  2.00                       1
                                                 3.00                       3
                                                 4.00                      51
1.00                       1.00                  2.00                      32
                                                 3.00                     112
                                                 4.00                       2
                           2.00                  3.00                     785
                                                 4.00                      11
                           3.00                  4.00                      25
dtype: int64

============================================
KITCHEN_STYLE1_RANK_CHG_IND
============================================

KITCHEN_STYLE1_RANK_CHG_IND
0.00                           23766
1.00                            1874
dtype: int64

KITCHEN_STYLE1_RANK_CHG_IND  KITCHEN_STYLE1_RANK_17  KITCHEN_STYLE1_RANK_22
0.00                         1.00                    1.00                       1385
                             2.00                    1.00                        111
                                                     2.00                      12518
                             3.00                    1.00                         23
                                                     2.00                        399
                                                     3.00                       8690
                             4.00                    2.00                          2
                                                     3.00                         20
                                                     4.00                        456
1.00                         1.00                    2.00                         64
                                                     3.00                        207
                                                     4.00                         22
                             2.00                    3.00                       1408
                                                     4.00                         59
                             3.00                    4.00                        114
dtype: int64

In [19]:
# Check Results on Continuous Features

def flagnumchk(colchg, colind):
  print('\n============================================')
  print(colind)
  print('============================================\n')
  print(pafinaldf[[colind]].value_counts().sort_index(), '\n' )
  print('Indicator = 1\n')
  print(pafinaldf[pafinaldf[colind] == 1][colchg].describe() )
  print('\nIndicator = 0\n')
  print(pafinaldf[pafinaldf[colind] == 0][colchg].describe() )


flagnumchk('GROSS_AREA_CHG' , 'GROSS_AREA_CHG_IND')
flagnumchk('LIVING_AREA_CHG' , 'LIVING_AREA_CHG_IND')

============================================
GROSS_AREA_CHG_IND
============================================

GROSS_AREA_CHG_IND
0.00                  24120
1.00                   1520
dtype: int64

Indicator = 1

count   1520.00
mean     544.43
std      926.62
min        0.75
25%       72.00
50%      215.80
75%      538.30
max     7229.20
Name: GROSS_AREA_CHG, dtype: float64

Indicator = 0

count   24063.00
mean     -175.89
std       222.27
min     -2484.00
25%      -331.20
50%       -35.60
75%         0.00
max         0.00
Name: GROSS_AREA_CHG, dtype: float64

============================================
LIVING_AREA_CHG_IND
============================================

LIVING_AREA_CHG_IND
0.00                   20493
1.00                    5147
dtype: int64

Indicator = 1

count   5147.00
mean     135.80
std      396.71
min        0.05
25%        0.20
50%        0.40
75%       57.10
max     4938.20
Name: LIVING_AREA_CHG, dtype: float64

Indicator = 0

count   20436.00
mean       -4.46
std        45.33
min     -1889.00
25%         0.00
50%         0.00
75%         0.00
max         0.00
Name: LIVING_AREA_CHG, dtype: float64

## Add Remodel Flags and Check Results

In [20]:
pafinaldf['REMODEL_EVER_FLAG'] = np.where(pafinaldf['YR_REMODEL_22'] > 0 , 1, 0)
pafinaldf['REMODEL_LAST_5YR'] = np.where(pafinaldf['YR_REMODEL_22'] > 2017 , 1, 0)

In [21]:
# Check Improvement Flags by Remodel Ever Flag

def impchk(impcol):
  print('\n============================================')
  print(impcol)
  print('============================================\n')
  print(pafinaldf[['REMODEL_EVER_FLAG', impcol]].value_counts().sort_index() )

impchk('RES_FLOOR_CHG_IND')
impchk('TT_RMS_CHG_IND')
impchk('FULL_BTH_CHG_IND') 
impchk('HLF_BTH_CHG_IND') 
impchk('BED_RMS_CHG_IND')
impchk('KITCHEN_CHG_IND')
impchk('GROSS_AREA_CHG_IND')
impchk('LIVING_AREA_CHG_IND') 
impchk('INT_COND_RANK_CHG_IND') 
impchk('EXT_COND_RANK_CHG_IND')
impchk('OVERALL_COND_RANK_CHG_IND')
impchk('BTHRM_STYLE1_RANK_CHG_IND')
impchk('BTHRM_STYLE2_RANK_CHG_IND')
impchk('KITCHEN_STYLE1_RANK_CHG_IND')

============================================
RES_FLOOR_CHG_IND
============================================

REMODEL_EVER_FLAG  RES_FLOOR_CHG_IND
0                  0.00                 15118
                   1.00                    55
1                  0.00                 10218
                   1.00                   249
dtype: int64

============================================
TT_RMS_CHG_IND
============================================

REMODEL_EVER_FLAG  TT_RMS_CHG_IND
0                  0.00              14881
                   1.00                292
1                  0.00               9711
                   1.00                756
dtype: int64

============================================
FULL_BTH_CHG_IND
============================================

REMODEL_EVER_FLAG  FULL_BTH_CHG_IND
0                  0.00                14892
                   1.00                  281
1                  0.00                 9396
                   1.00                 1071
dtype: int64

============================================
HLF_BTH_CHG_IND
============================================

REMODEL_EVER_FLAG  HLF_BTH_CHG_IND
0                  0.00               15008
                   1.00                 165
1                  0.00                9952
                   1.00                 515
dtype: int64

============================================
BED_RMS_CHG_IND
============================================

REMODEL_EVER_FLAG  BED_RMS_CHG_IND
0                  0.00               14929
                   1.00                 244
1                  0.00                9869
                   1.00                 598
dtype: int64

============================================
KITCHEN_CHG_IND
============================================

REMODEL_EVER_FLAG  KITCHEN_CHG_IND
0                  0.00               15153
                   1.00                  20
1                  0.00               10413
                   1.00                  54
dtype: int64

============================================
GROSS_AREA_CHG_IND
============================================

REMODEL_EVER_FLAG  GROSS_AREA_CHG_IND
0                  0.00                  14616
                   1.00                    557
1                  0.00                   9504
                   1.00                    963
dtype: int64

============================================
LIVING_AREA_CHG_IND
============================================

REMODEL_EVER_FLAG  LIVING_AREA_CHG_IND
0                  0.00                   12639
                   1.00                    2534
1                  0.00                    7854
                   1.00                    2613
dtype: int64

============================================
INT_COND_RANK_CHG_IND
============================================

REMODEL_EVER_FLAG  INT_COND_RANK_CHG_IND
0                  0.00                     14945
                   1.00                       228
1                  0.00                      9304
                   1.00                      1163
dtype: int64

============================================
EXT_COND_RANK_CHG_IND
============================================

REMODEL_EVER_FLAG  EXT_COND_RANK_CHG_IND
0                  0.00                     14874
                   1.00                       299
1                  0.00                      9593
                   1.00                       874
dtype: int64

============================================
OVERALL_COND_RANK_CHG_IND
============================================

REMODEL_EVER_FLAG  OVERALL_COND_RANK_CHG_IND
0                  0.00                         14996
                   1.00                           177
1                  0.00                          9453
                   1.00                          1014
dtype: int64

============================================
BTHRM_STYLE1_RANK_CHG_IND
============================================

REMODEL_EVER_FLAG  BTHRM_STYLE1_RANK_CHG_IND
0                  0.00                         14849
                   1.00                           324
1                  0.00                          9020
                   1.00                          1447
dtype: int64

============================================
BTHRM_STYLE2_RANK_CHG_IND
============================================

REMODEL_EVER_FLAG  BTHRM_STYLE2_RANK_CHG_IND
0                  0.00                         15041
                   1.00                           132
1                  0.00                          9632
                   1.00                           835
dtype: int64

============================================
KITCHEN_STYLE1_RANK_CHG_IND
============================================

REMODEL_EVER_FLAG  KITCHEN_STYLE1_RANK_CHG_IND
0                  0.00                           14829
                   1.00                             344
1                  0.00                            8937
                   1.00                            1530
dtype: int64

In [22]:
# Check Improvement Flags by Remodel Last 5 Year Flag

def impchk(impcol):
  print('\n============================================')
  print(impcol)
  print('============================================\n')
  print(pafinaldf[['REMODEL_LAST_5YR', impcol]].value_counts().sort_index() )

impchk('RES_FLOOR_CHG_IND')
impchk('TT_RMS_CHG_IND')
impchk('FULL_BTH_CHG_IND') 
impchk('HLF_BTH_CHG_IND') 
impchk('BED_RMS_CHG_IND')
impchk('KITCHEN_CHG_IND')
impchk('GROSS_AREA_CHG_IND')
impchk('LIVING_AREA_CHG_IND') 
impchk('INT_COND_RANK_CHG_IND') 
impchk('EXT_COND_RANK_CHG_IND')
impchk('OVERALL_COND_RANK_CHG_IND')
impchk('BTHRM_STYLE1_RANK_CHG_IND')
impchk('BTHRM_STYLE2_RANK_CHG_IND')
impchk('KITCHEN_STYLE1_RANK_CHG_IND')

============================================
RES_FLOOR_CHG_IND
============================================

REMODEL_LAST_5YR  RES_FLOOR_CHG_IND
0                 0.00                 24064
                  1.00                   189
1                 0.00                  1272
                  1.00                   115
dtype: int64

============================================
TT_RMS_CHG_IND
============================================

REMODEL_LAST_5YR  TT_RMS_CHG_IND
0                 0.00              23468
                  1.00                785
1                 0.00               1124
                  1.00                263
dtype: int64

============================================
FULL_BTH_CHG_IND
============================================

REMODEL_LAST_5YR  FULL_BTH_CHG_IND
0                 0.00                23390
                  1.00                  863
1                 0.00                  898
                  1.00                  489
dtype: int64

============================================
HLF_BTH_CHG_IND
============================================

REMODEL_LAST_5YR  HLF_BTH_CHG_IND
0                 0.00               23794
                  1.00                 459
1                 0.00                1166
                  1.00                 221
dtype: int64

============================================
BED_RMS_CHG_IND
============================================

REMODEL_LAST_5YR  BED_RMS_CHG_IND
0                 0.00               23646
                  1.00                 607
1                 0.00                1152
                  1.00                 235
dtype: int64

============================================
KITCHEN_CHG_IND
============================================

REMODEL_LAST_5YR  KITCHEN_CHG_IND
0                 0.00               24201
                  1.00                  52
1                 0.00                1365
                  1.00                  22
dtype: int64

============================================
GROSS_AREA_CHG_IND
============================================

REMODEL_LAST_5YR  GROSS_AREA_CHG_IND
0                 0.00                  23092
                  1.00                   1161
1                 0.00                   1028
                  1.00                    359
dtype: int64

============================================
LIVING_AREA_CHG_IND
============================================

REMODEL_LAST_5YR  LIVING_AREA_CHG_IND
0                 0.00                   19693
                  1.00                    4560
1                 0.00                     800
                  1.00                     587
dtype: int64

============================================
INT_COND_RANK_CHG_IND
============================================

REMODEL_LAST_5YR  INT_COND_RANK_CHG_IND
0                 0.00                     23311
                  1.00                       942
1                 0.00                       938
                  1.00                       449
dtype: int64

============================================
EXT_COND_RANK_CHG_IND
============================================

REMODEL_LAST_5YR  EXT_COND_RANK_CHG_IND
0                 0.00                     23435
                  1.00                       818
1                 0.00                      1032
                  1.00                       355
dtype: int64

============================================
OVERALL_COND_RANK_CHG_IND
============================================

REMODEL_LAST_5YR  OVERALL_COND_RANK_CHG_IND
0                 0.00                         23453
                  1.00                           800
1                 0.00                           996
                  1.00                           391
dtype: int64

============================================
BTHRM_STYLE1_RANK_CHG_IND
============================================

REMODEL_LAST_5YR  BTHRM_STYLE1_RANK_CHG_IND
0                 0.00                         23143
                  1.00                          1110
1                 0.00                           726
                  1.00                           661
dtype: int64

============================================
BTHRM_STYLE2_RANK_CHG_IND
============================================

REMODEL_LAST_5YR  BTHRM_STYLE2_RANK_CHG_IND
0                 0.00                         23677
                  1.00                           576
1                 0.00                           996
                  1.00                           391
dtype: int64

============================================
KITCHEN_STYLE1_RANK_CHG_IND
============================================

REMODEL_LAST_5YR  KITCHEN_STYLE1_RANK_CHG_IND
0                 0.00                           23072
                  1.00                            1181
1                 0.00                             694
                  1.00                             693
dtype: int64

# Export Final File

In [23]:
pafinaldf.to_csv('pa_home_improvements_2017_2022.csv', header=True, index=False)